@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    box-sizing: border-box;
    height: 100rem;
    background-color: #111E3E;
    overflow: hidden; /* tira o scroll da div */
}
main{
    overflow: hidden; /* deixa o scroll na div */  
}

/* navbar */
.navbar {
    position: fixed;
    background-color: #8bc34a;
    height: 4.5rem;
    width: 100vw;
}

.profile_navbar {
    position: relative;
    display: flex;
    left: 72.5%;
    height: 3.5rem;
    width: 80%;
}

.profile_pic_navbar {
    position: relative;
    width: 48px;
    height: 48px;
    top: 25%;
    left: 0%;
}

.profile_pic_image_navbar {
    border-radius: 50%;
}

.profile_name_navbar {
    position: relative;
    text-align: right;
    margin-right: 2%;
    top: 50%;
    width: 15%;
    height: 1.5rem;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}


.logo {
    position: absolute;
    left: 2.5rem;
    top: 0.75rem;
    height: 2.75rem;
    width: 8rem;
}


.botao_logo {
    height: 2.75rem;
    width: 8rem;
    border: 0;
    border-radius: 1rem;
    background-color: #d9d9d9;
}

.sair {
    position: absolute;
    bottom: 25%;
    left: 92.5%;
    height: 34px;
    width: 34px;
    background-color: #8bc34a;
}

.botao_sair {
    border: 0;
    background-color: #8bc34a;
}

.botao_ir_para_perfil {
    border: 0;
    background-color: #8bc34a;
}

button {
    cursor: pointer;
}

.feed {
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.feed_area {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100rem;
    width: 40.5rem;  
    border-width: 0px 1px;
    border-style: solid;
    border-color: #7E7E7E;

}
.feed_background {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 15%;
    height: 30%;
    width: 40rem;
    border-width: 0;
    background-color: #111E3E;
}
.publicacoes{
    position: absolute;
    height: 1rem;
    left: 0.75rem;
    top:0.75rem;
}

#publicacoes_txt{
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 17px;
        color: white;
}

.post {
    cursor: pointer;
    background-color: #222E50;
    position: relative;
    height: 12rem;
    width: 100%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 2rem;
    top: 3.5rem;
    margin-bottom: 1%;
}

.id_publicacao{
    display: none;
}

.criar_comentario {
    background-color: #222E50;
    position: absolute;
    height: 55%;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 2rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_dialog {
    background-color: #111E3E;
    border: 0;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    width: 36px;
    height: 36px;
}

.caixa_de_texto_novo_comentario {
    background-color: #111E3E;
    position: relative;
    left: 10%;
    top: 10%;
    height: 70%;
    width: 80%;
    border-radius: 2rem;
    color: white;
}

.botao_fechar_modal {
    position: relative;
    top: 20%;
    left: 7.5%;
    background-color: #222E50;
    border: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.botao_publicar_modal {
    position: relative;
    top: 20%;
    left: 75%;
    background-color: #222E50;
    border: 0;
    color: #8bc34a;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

#texto_novo_comentario {
    padding: 5%;
    position: relative;
    border-radius: 2rem;
    background-color: #111E3E;
    color: white;
    top: 10%;
    width: 90%;
    height: 55%;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.post_content {
    position: absolute;
    background-color: #222E50;
    height: 6rem;
    width: 30rem;
    left: 6rem;
    top: 4rem;
    font-size: 15px;
}

#data {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #71767b;
    font-size: 15px;
}

#separador {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #71767b;
    font-size: 15px;
}

#profile_name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.profile_name {
    position: absolute;
    left: 6rem;
    top: 2rem;
    font-size: 15px;
}

.profile_pic {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 1rem;
    left: 2rem;
}

.profile_pic_image {
    border-radius: 50%;
}

.comment_balloon {
    position: absolute;
    background-color: #222E50;
    left: 6rem;
    top: 10rem;
}

.comment_balloon_button {
    background-color: #222E50;
    border: 0;

}

.banner{
    display: flex;
    justify-content: center;

}

.banner_area{
    background-color: #222E50;
    height: 15rem;
    width: 40.6rem;
}

.editar_perfil {
    height: 2.5rem;
    width: 10rem;
    position: absolute;
    background-color: #111E3E;
    right: 1.5rem;
    top: 1rem;
    
}

.botao_editar_perfil {
    background-color: #111E3E;
    font-family: 'Inter', sans-serif;
    color: white;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 3px 4px RGBA(0,0,0,.60) ; /* 3 valor = blur // .60 = porcentagem de uso da cor */
    height: 3rem;
    border-radius: 1rem;
    width: 9.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.foto_perfil{
    position: absolute;
    left: 4rem;
    top: -4.75rem;

}

.foto_perfil_grande{
    border-radius: 50%;
}

/* up feed*/
.up_feed{
    width: 40.5rem;
    height: 15rem;
}

.bio{
    position: absolute;
    width: 90%;
    height: 6rem;
    top: 6rem;
    left: 4rem;
}

.funcao_bio{
    position: absolute;
    top: 2.4rem;
}

#nome_perfil {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.email_bio{
    position: absolute;
    top: 4.8rem;
}

#funcao{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-left: 0.5rem;
}

#email{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-left: 0.25rem;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
  }
  
  /* Estilização do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do polegar da barra de rolagem */
    border-radius: 4px; /* Raio de borda do polegar da barra de rolagem */
  }
  
 /* Cor de fundo ao passar o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do polegar da barra de rolagem ao passar o mouse */
  }